.App {
  text-align: center;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#root {
  width: 100%;
  height: 100%;
}
img {
  max-width: 100%;
}
.select-user-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: #fff;
  height: 100%;
}

.left-intro-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.right-intro-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #fff;
}